.umlbox {
    background: white;
    .tittle {
        background: skyblue;
    }
}

.linea {
    border: 2px solid black;
}

.lina-abajo-gruesa {
    border-bottom: 2px solid black;
}

.lina-abajo {
    border-bottom: 1px solid black;
}